* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #5d5d5d;
}

#overlay {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #2f2f2f;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

#overlay > img {
  height: 24px;
  margin-right: 16px;
  opacity: 0.5;
}

body > .header {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /*border-bottom: 2px solid #e5e5e5;*/
  width: 100%;
}

body > .header > img {
  height: 24px;
  margin-right: 16px;
}

body > .header > h2 {
  font-size: 20px;
  color: #424242;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  align-items: stretch;
  padding: 48px 16px 0;
  margin-bottom: 172px;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.location {
  font-size: 24px;
  color: #2196F3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-break: strict;
  height: 55px;
  word-break: break-all;
}

#form {
  display: flex;
  flex-direction: column;
  /*padding: 12px;*/
  /*border: 2 px solid rgba(0, 0, 0, 0.2);*/
  border-radius: 4px;
}

#form > span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.form-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.form-email.highlighted > input {
  border: 2px solid #f77979;
}

.form-email > input {
  width: 100%;
  padding: 0 16px;
  font-size: 16px;
  height: 48px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  outline: none;
}

.form-email > input::placeholder {
  font-size: 16px;
  font-style: italic;
  color: #959EA6;
}

.form-acceptTos {
  display: flex;
  align-items: baseline;
}

.form-acceptTos > div > label {
  font-size: 14px;
  color: #959EA6;
  line-height: 120%;
}

.form-acceptTos > input {
  margin-right: 8px;
  top: 1px;
  position: relative;
}

.form-acceptTos.highlighted {
  border: 2px solid #f77979;
  border-radius: 4px;
  padding: 6px;
}

button#submit-button {
  height: 48px;
  font-size: 16px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: box-shadow 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px;
  white-space: nowrap;
}

button#submit-button:hover {
  background-color: #1a77c2;
}

button#submit-button:focus,
button#submit-button:active {
  box-shadow: 0 0 0 3px #0d60a1 inset;
  transform: translateY(1px);
}

.result {
  width: 100%;
}

#result-ok {
  /*height: calc(100vh - 64px - 172px - 96px);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.result > .header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 32px;
}

.result > .header > span {
  color: #8BC34A;
}

.result > .large {
  border-radius: 16px;
  border: 2px solid #959EA6;
  width: 100%;
  padding: 24px;
  margin-bottom: 64px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
  perspective: 10em;
}

.result > .large > .location {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.result > .large > .location > img {
  margin-right: 12px;
  top: 2px;
  position: relative;
}

.result > .large > .location > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.result > .large > .number {
  /*animation: y-axis-animation 1s ease-in-out 0s infinite alternate;*/
  font-size: min(60vw, 300px);
  width: 100%;
  height: 300px;
  /*font-weight: bold;*/
}

/* https://codepen.io/ClaireLarsen/pen/XmVyVX */

.result > .large > .number > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.result > .large > .number .text-copy {
  fill: none;
  /*stroke: white;*/
  /*noinspection CssInvalidPropertyValue*/
  stroke-dasharray: 10% 30%;
  stroke-width: 7px;
  stroke-dashoffset: 0;
  animation: stroke-offset 5.5s infinite linear;
}

.result > .large > .number .text-copy:nth-child(1) {
  stroke: #2196F3;
  animation-delay: -1s;
}

.result > .large > .number .text-copy:nth-child(2) {
  stroke: #bbdefb;
  animation-delay: -2s;
}

.result > .large > .number .text-copy:nth-child(3) {
  stroke: #64b5f6;
  animation-delay: -3s;
}

.result > .large > .number .text-copy:nth-child(4) {
  stroke: #0d47a1;
  animation-delay: -4s;
}

.result > .large > .number .text-copy:nth-child(5) {
  stroke: #ffeb3b;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -40%;
  }
}

/*.result > .large > .number-wrapper > .number {
}*/

.result > .details {
  display: flex;
  flex-direction: column;
  /*border: 1px solid #959EA6;*/
  /*padding: 12px 16px;*/
  border-radius: 4px;
  width: 100%;
  line-height: 2.5;
  /*box-shadow: 0 2px 8px 1.5px rgba(0, 0, 0, 0.15);*/
}

.result > .details > * {
  border-bottom: 1px solid #b5b5b5;
}

.result > .details > h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #8a8888;
}

div.icon.wrap {
  height: 64px;
  width: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 8px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.icon > img {
  height: 90%;
}

.hidden {
  display: none !important;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96px;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  margin-bottom: 32px;
  font-size: 14px;
}

a, a:visited {
  color: #2196F3;
  text-decoration: none;
}

#lang-select {
  border: none;
  background: none;
  color: #2196F3;
  margin-top: auto;
  margin-bottom: 16px;
}


/* Keep this at the end to prevent flashing unstyled content */
html {
  visibility: visible;
}