# IntelliJ IDEA
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/copyright
!.idea/copyright/*
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/fileTemplates/
!.idea/fileTemplates/*
!.idea/codeStyleSettings.xml
!.idea/icon.png
out
*.iml
## File-based project format:
*.ipr
*.iws

# Created by https://www.gitignore.io

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Package Files #
*.jar
*.war
*.ear

# Kotlin cache
.kotlin/

# Gradle files
.gradle/
.gradletasknamecache
build/
/*/build/
!gradle-wrapper.jar

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/server/src/main/resources/moderatorFrontend/
