* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

#all-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #5d5d5d;
}

.overlay {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  color: #2f2f2f;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.overlay > img {
  height: 24px;
  width: 24px;
  margin-right: 16px;
  opacity: 0.5;
}

#all-content-wrapper > .header {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#all-content-wrapper > .header > img {
  height: 24px;
  width: 32px;
  margin-right: 16px;
}

#all-content-wrapper > .header > h2 {
  font-size: 20px;
  color: #424242;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  align-items: stretch;
  padding: 48px 16px 0;
  margin-bottom: 128px;
}

.location-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

#form .location {
  font-size: 24px;
  color: #2196F3;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-break: strict;
  height: 55px;
  word-break: break-all;
  text-align: center;

}

#form {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

#form > span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.form-email {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.form-email.highlighted > input {
  border: 2px solid #f77979;
}

.form-email > input {
  width: 100%;
  padding: 0 16px;
  font-size: 16px;
  height: 48px;
  border: 1px solid #CED4DA;
  border-radius: 4px;
  outline: none;
}

.form-email > input::placeholder {
  font-size: 16px;
  font-style: italic;
  color: #959EA6;
}

.form-acceptTos {
  display: flex;
  align-items: baseline;
}

.form-acceptTos > div > label {
  font-size: 14px;
  color: #959EA6;
  line-height: 120%;
}

.form-acceptTos > input {
  margin-right: 8px;
  top: 1px;
  position: relative;
}

.form-acceptTos.highlighted {
  border: 2px solid #f77979;
  border-radius: 4px;
  padding: 6px;
}

button#submit-button {
  height: 48px;
  font-size: 16px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: bold;
  transition: box-shadow 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px;
  white-space: nowrap;
}

button#submit-button:hover {
  background-color: #1a77c2;
}

button#submit-button:focus,
button#submit-button:active {
  box-shadow: 0 0 0 3px #0d60a1 inset;
  transform: translateY(1px);
}

.result {
  width: 100%;
}

.result-wrapper {
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #666;
}

.result.fail {
  text-align: center;
  margin-top: 32px;
  font-weight: bold;
}

#result-ok {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  border-left: 16px solid #d6e7f4;
  border-right: 16px solid #d6e7f4;
}

.result > .header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}

.result > .header > span {
  color: #8BC34A;
}

.result > .large {
  border-radius: 16px;
  width: 100%;
  padding: 24px;
  perspective: 10em;
}

.result > .large > .location {
  font-size: 24px;
  color: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  word-break: break-all;
}

.result > .large > .location > img {
  margin-right: 12px;
  top: 2px;
  position: relative;
  min-height: 32px;
  width: 42px;
}

.result > .large > .location > span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.result > .large > .number {
  font-size: 240px; /* for browsers that don't support vw */
  font-size: 60vw; /* for browsers that don't support min(x, y) */
  font-size: min(60vw, 240px);
  width: 100%;
  height: 240px;
  position: relative;
  z-index: 2;
}

.verification {
  text-align: center;
  transform: translateY(-115px) rotate(-10deg);
  z-index: -5;
  position: absolute;
  width: 100%;
  left: 0;
  opacity: 0.25;
  font-weight: bold;
  font-size: 41px;
  text-transform: uppercase;
}

/* Svg animation taken from: https://codepen.io/ClaireLarsen/pen/XmVyVX */
.result > .large > .number > svg {
  display: block;
  width: 100%;
  height: 100%;
}

.result > .large > .number .text-copy {
  fill: none;
  /*noinspection CssInvalidPropertyValue*/
  stroke-dasharray: 10% 30%;
  stroke-width: 7px;
  stroke-dashoffset: 0;
  animation: stroke-offset 5.5s infinite linear;
}

.result > .large > .number .text-copy:nth-child(1) {
  stroke: #2196F3;
  animation-delay: -1s;
}

.result > .large > .number .text-copy:nth-child(2) {
  stroke: #bbdefb;
  animation-delay: -2s;
}

.result > .large > .number .text-copy:nth-child(3) {
  stroke: #64b5f6;
  animation-delay: -3s;
}

.result > .large > .number .text-copy:nth-child(4) {
  stroke: #0d47a1;
  animation-delay: -4s;
}

.result > .large > .number .text-copy:nth-child(5) {
  stroke: #ffeb3b;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -40%;
  }
}

.result > .details {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  width: max-content;
  text-align: center;
  align-items: center;
}

.result > .details > .row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  width: max-content;
}

.result > .details img {
  height: 24px;
  width: 24px;
  opacity: 0.5;
  margin-right: 18px;
}

#active-checkins-wrapper {
  margin-top: 32px;
  width: 100%;
}

#active-checkins-wrapper > p {
  text-align: center;
  font-style: italic;
}

#active-checkins > .active-check-in {
  margin-bottom: 12px;
  color: #5d5d5d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active-checkins > .active-check-in > button {
  flex-shrink: 0;
  padding: 8px 12px;
  background: none;
  border: 2px solid gray;
  border-radius: 4px;
}

#active-checkins > .active-check-in > button:hover {
  background-color: #b5b5b540;
}

#active-checkins > .active-check-in > button:focus {
  background-color: #b5b5b570;
}

div.icon.wrap {
  height: 64px;
  width: 64px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  padding: 8px;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.icon > img {
  height: 90%;
}

.hidden {
  display: none !important;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 96px;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  margin-bottom: 32px;
  font-size: 14px;
}

a, a:visited {
  color: #2196F3;
  text-decoration: none;
}

#lang-select {
  border: none;
  background: none;
  color: #2196F3;
  margin-top: auto;
  cursor: pointer;
}

.centered {
  text-align: center;
}

#live-check-in-count {
  font-size: 120px;
}

footer a {
  margin-top: 16px;
}

.blinking-dot {
  margin-bottom: 3px;
  height: 12px;
  width: 12px;
  margin-right: 8px;
  background-color: #49b832;
  border-radius: 50%;
  display: inline-block;

  animation: blink-animation 1s step-start 0s infinite;
  -webkit-animation: blink-animation 1s step-start 0s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0.2;
  }
}

@-webkit-keyframes blink-animation {
  50% {
    opacity: 0.2;
  }
}

/* Keep this at the end to prevent flashing unstyled content */
html {
  visibility: visible;
}